<div id="app">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://avocet.io">
				<p class="title" style="padding:0.5rem; margin:0.5rem;">canary</p>
			</a>
		</div>
	</nav>
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-half" v-for="test in objectData">
				<div class="has-text-white" style="border-radius: 3px; padding: 2rem;" v-bind:class="{ 'has-background-danger': test.Failing, 'has-background-success': !test.Failing }">
					<h1 class="title is-4 has-text-white">
						{{ test.Name }}
					</h1>
					<div class="columns" style="height:100px;">
						<div class="column is-one-third">
							<p class="is-size-7">failing: {{ test.Failing }}</p>
							<p class="is-size-7">pass rate: {{ Math.round(((test.Successes/(test.Successes+test.Failures)) * 100)||0) }}%</p>
						</div>
						<div style="
						overflow-y: scroll; 
						overflow-x: scroll; 
						padding: 0.5rem; 
						margin-right: 1.5rem;
						border-radius: 3px;
						" class="has-background-grey-dark column is-two-thirds" v-if="test.Failing">
							<p style="white-space: pre;" class="is-size-7" v-if="test.Failing">{{test.LastFailureOutput}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
